Repository infinum/auth-worker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add sonar badges
  README.md
Due: prettier --write

Add testing GA
  .github/workflows/build.yml
Due: none

Fix the test run
  .github/workflows/build.yml
Due: none

Fix async listener tests
  src/worker/postMessage.test.ts
Due: prettier --write, eslint

Fix the test mocks
  src/utils/login.test.ts
Due: prettier --write, eslint

Update the localStorage mocks
  src/utils/login.test.ts
Due: prettier --write, eslint

Fix the readme syntax
  README.md
Due: prettier --write

Fix sonar build
  .github/workflows/build.yml
  sonar-project.properties
Due: none

Fix the coverage path
  sonar-project.properties
Due: none

Fix postMessage security
  example/package-lock.json
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
  src/worker/state.ts
Due: prettier --write, eslint

Fix async logs
  src/worker/state.ts
Due: prettier --write, eslint

Ad npm publish action
  .github/workflows/npm-publish.yml
Due: none

Bump version to 2.0.0
  package.json
Due: prettier --write

Update the publish process
  .github/workflows/npm-publish.yml
  package.json
  prepare.js
Due: prettier --write, eslint

Prepare the beta
  package.json
Due: prettier --write

Add readme and license to the dist
  prepare.js
Due: prettier --write, eslint

Rename the variable to avoid potential future issues
  prepare.js
Due: prettier --write, eslint

Various fixes and preparation for release (#2)
  .github/workflows/build.yml
  .github/workflows/npm-publish.yml
  README.md
  example/package-lock.json
  example/src/main.tsx
  package.json
  prepare.js
  sonar-project.properties
  src/shared/sha256.ts
  src/utils/login.test.ts
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/utils/register.test.ts
  src/utils/register.ts
  src/worker/csrf.ts
  src/worker/init.ts
  src/worker/interceptor.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
  src/worker/state.ts
  src/worker/utils.test.ts
  src/worker/utils.ts
Due: prettier --write, eslint

Update the publish process
  .github/workflows/npm-publish.yml
Due: none

Tweak the docs
  README.md
Due: prettier --write

Add badges
  README.md
Due: prettier --write

Tweak the publish process
  .github/workflows/npm-publish.yml
Due: none

Update the version to v2
  package.json
Due: prettier --write

Add provenance when publishing
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

Remove provenance for now (not yet stable)
  .github/workflows/npm-publish.yml
Due: none

Add the changelog
  CHANGELOG.md
Due: prettier --write

Ignore non-source files in the build action
  .github/workflows/build.yml
Due: none

Basic web worker setup
  .gitignore
  README.md
  example/package-lock.json
  example/package.json
  example/src/App.tsx
  example/src/main.tsx
  example/tsconfig.json
  example/workers/service-worker.ts
  example/workers/tsconfig.workers.json
  example/workers/web-worker.ts
  package.json
  src/interfaces/IAllowList.ts
  src/utils/index.ts
  src/utils/operations.ts
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/utils/register.test.ts
  src/utils/register.ts
  src/worker/fetch.test.ts
  src/worker/fetch.ts
  src/worker/index.ts
  src/worker/interceptor.test.ts
  src/worker/interceptor.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/service-worker.test.ts
  src/worker/service-worker.ts
  src/worker/state.ts
  src/worker/utils.ts
  src/worker/web-worker.ts
Due: prettier --write, eslint

Fix messaging between the page and worker
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
  src/worker/service-worker.ts
Due: prettier --write, eslint

Serialize the response
  example/src/App.tsx
  src/utils/postMessage.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
Due: prettier --write, eslint

Init and postMessage fixes
  example/src/App.tsx
  example/src/main.tsx
  src/utils/postMessage.ts
  src/utils/register.ts
  src/worker/fetch.ts
  src/worker/postMesage.ts
  src/worker/web-worker.ts
Due: prettier --write, eslint

fix sw postMessage issue
  example/src/App.tsx
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/utils/register.ts
  src/worker/operations.ts
Due: prettier --write, eslint

Fix the Service Worker issues
  example/src/main.tsx
  src/utils/register.ts
  src/worker/fetch.ts
  src/worker/interceptor.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/service-worker.ts
  src/worker/state.ts
  src/worker/utils.test.ts
  src/worker/utils.ts
  src/worker/web-worker.ts
Due: prettier --write, eslint

Fix existing tests
  src/utils/register.test.ts
  src/worker/postMessage.test.ts
  src/worker/utils.test.ts
Due: prettier --write, eslint

Add missing SW init tests
  src/worker/service-worker.test.ts
Due: prettier --write, eslint

Add URL allow tests
  src/worker/fetch.test.ts
Due: prettier --write, eslint

Add missing postMessage tests
  src/worker/postMessage.test.ts
  test/mock/Response.ts
Due: prettier --write, eslint

Remove the unnecessary waiting on SW register
  src/utils/register.ts
Due: prettier --write, eslint

Add missing tests
  src/utils/postMessage.test.ts
  src/utils/register.test.ts
  test/mock/Worker.ts
Due: prettier --write, eslint

Remove the csrf functionality
  src/shared/enums.ts
  src/utils/operations.test.ts
  src/utils/operations.ts
  src/worker/csrf.test.ts
  src/worker/csrf.ts
  src/worker/fetch.test.ts
  src/worker/fetch.ts
  src/worker/interceptor.test.ts
  src/worker/interceptor.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
  src/worker/state.test.ts
  src/worker/state.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: **/*.{json,md,html}) or (any of: **/*.{js,ts})
  eslint: any of: **/*.{js,ts}
