Repository infinum/auth-worker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "**/*.{json,md,html}": [
    "prettier --write"
  ],
  "**/*.{js,ts}": [
    "prettier --write",
    "eslint"
  ]
}

Update the docs
  README.md
  docs/API/TOC.md
  docs/API/createSession.md
  docs/API/deleteSession.md
  docs/API/getLoginUrl.md
  docs/API/getUserInfo.md
  docs/API/init-the-worker.md
  docs/API/interfaces.md
  docs/create-a-session.md
  docs/creating-a-worker.md
  docs/getting-started.md
  docs/load-the-worker.md
  docs/login-link.md
  docs/make-an-api-call.md
  docs/providers.md
  docs/worker-types.md
Due: prettier --write

WIP storage and SW refactor
  docs/API/init-the-worker.md
  docs/creating-a-worker.md
  example/package.json
  example/src/App.tsx
  example/workers/service-worker.ts
  example/workers/web-worker.ts
  src/interfaces/IFullConfig.ts
  src/shared/db.ts
  src/shared/enums.ts
  src/shared/pkce.ts
  src/shared/sha256.test.ts
  src/shared/sha256.ts
  src/shared/storage.test.ts
  src/shared/storage.ts
  src/utils/login.ts
  src/utils/operations.test.ts
  src/utils/operations.ts
  src/utils/storage.ts
  src/vendor/idb-keyval.ts
  src/worker/fetch.test.ts
  src/worker/fetch.ts
  src/worker/interceptor.test.ts
  src/worker/interceptor.ts
  src/worker/operations.test.ts
  src/worker/operations.ts
  src/worker/service-worker.test.ts
  src/worker/service-worker.ts
  src/worker/state.test.ts
  src/worker/state.ts
  src/worker/utils.test.ts
  src/worker/utils.ts
  src/worker/web-worker.ts
Due: prettier --write, eslint

SW refactor
  example/index.html
  example/package.json
  example/src/App.tsx
  example/src/config.ts
  example/src/main.tsx
  example/workers/service-worker.ts
  example/workers/web-worker.ts
  package.json
  src/shared/db.ts
  src/shared/pkce.test.ts
  src/utils/index.ts
  src/utils/login.test.ts
  src/utils/login.ts
  src/utils/operations.ts
  src/utils/register.test.ts
  src/utils/register.ts
  src/worker/index.ts
  src/worker/interceptor.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/service-worker.ts
  src/worker/state.ts
  src/worker/web-worker.ts
  test/mock/Worker.ts
Due: prettier --write, eslint

Update the docs
  README.md
  docs/API/TOC.md
  docs/API/createSession.md
  docs/API/deleteSession.md
  docs/API/getLoginUrl.md
  docs/API/getUserInfo.md
  docs/API/init-the-worker.md
  docs/create-a-session.md
  docs/creating-a-worker.md
  docs/getting-started.md
  docs/interfaces.md
  docs/load-the-worker.md
  docs/login-link.md
  docs/worker-types.md
  example/src/App.tsx
  example/workers/service-worker.ts
  src/vendor/idb-keyval.ts
  src/worker/service-worker.test.ts
  src/worker/service-worker.ts
Due: prettier --write, eslint

Minify the builds
  package.json
Due: prettier --write

Bump version to beta 4
  package.json
Due: prettier --write

Streamline the configuration
  README.md
  docs/interfaces.md
  example/package-lock.json
  example/src/config.ts
  package.json
  src/interfaces/IBaseConfig.ts
  src/utils/login.test.ts
  src/utils/login.ts
  src/utils/register.test.ts
  src/worker/operations.test.ts
  src/worker/operations.ts
  src/worker/state.test.ts
Due: prettier --write, eslint

Add security consderations
  README.md
Due: prettier --write

Add custom providers docs
  docs/providers.md
  src/interfaces/IProvider.ts
Due: prettier --write, eslint

Fix SC issues
  src/worker/postMesage.ts
  src/worker/service-worker.ts
  src/worker/utils.ts
Due: prettier --write, eslint

Fix PKCE tests
  package-lock.json
  package.json
  src/shared/db.ts
  src/shared/pkce.test.ts
  src/shared/pkce.ts
  src/shared/utils.ts
  test/mock/localStorage.ts
  test/setup.ts
Due: prettier --write, eslint

Fix the storage tests
  src/shared/storage.test.ts
Due: prettier --write, eslint

Fix the login tests
  src/utils/login.test.ts
Due: prettier --write, eslint

Refactor tests setup, utils/operations
  src/shared/db.mock.ts
  src/shared/pkce.test.ts
  src/shared/storage.test.ts
  src/shared/utils.test.ts
  src/utils/login.test.ts
  src/utils/operations.test.ts
  src/utils/operations.ts
  test/setup.ts
Due: prettier --write, eslint

Fix postMessage tests
  src/utils/postMessage.test.ts
  src/worker/postMessage.test.ts
Due: prettier --write, eslint

Fix register tests
  src/utils/register.test.ts
Due: prettier --write, eslint

Fix fetch and interceptor
  src/worker/fetch.test.ts
  src/worker/interceptor.test.ts
Due: prettier --write, eslint

Fix remaining tests, refactor state persistance
  src/shared/db.mock.ts
  src/worker/operations.test.ts
  src/worker/operations.ts
  src/worker/service-worker.test.ts
  src/worker/service-worker.ts
  src/worker/state.test.ts
  src/worker/state.ts
  src/worker/utils.test.ts
Due: prettier --write, eslint

Add some missing tests
  src/shared/db.test.ts
  src/worker/state.test.ts
  test/setup.ts
Due: prettier --write, eslint

Streamline the idb layer
  src/vendor/idb-keyval.ts
Due: prettier --write, eslint

Add missing state tests
  src/shared/utils.ts
  src/worker/state.test.ts
Due: prettier --write, eslint

Add interceptor tests
  src/worker/interceptor.test.ts
Due: prettier --write, eslint

Fix some code smells
  example/workers/service-worker.ts
  src/shared/db.mock.ts
Due: prettier --write, eslint

Resolve deprecation warnings
  src/shared/utils.ts
Due: prettier --write, eslint

Trigger SC
  package.json
Due: prettier --write

SW tests, tweaks (#8)
  example/workers/service-worker.ts
  package-lock.json
  package.json
  src/shared/db.mock.ts
  src/shared/db.test.ts
  src/shared/db.ts
  src/shared/pkce.test.ts
  src/shared/pkce.ts
  src/shared/storage.test.ts
  src/shared/utils.test.ts
  src/shared/utils.ts
  src/utils/login.test.ts
  src/utils/operations.test.ts
  src/utils/operations.ts
  src/utils/postMessage.test.ts
  src/utils/register.test.ts
  src/vendor/idb-keyval.ts
  src/worker/fetch.test.ts
  src/worker/interceptor.test.ts
  src/worker/operations.test.ts
  src/worker/operations.ts
  src/worker/postMessage.test.ts
  src/worker/service-worker.test.ts
  src/worker/service-worker.ts
  src/worker/state.test.ts
  src/worker/state.ts
  src/worker/utils.test.ts
  test/mock/localStorage.ts
  test/setup.ts
Due: prettier --write, eslint

Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/support-request.yml
Due: none

Update lib version to 2.0.0
  package-lock.json
  package.json
Due: prettier --write

Update dependencies
  example/package-lock.json
  example/package.json
  package-lock.json
  package.json
Due: prettier --write

Update the linter, autifix
  .eslintrc.json
  example/public/service-worker.d.ts
  example/src/App.tsx
  example/src/consts.ts
  package-lock.json
  package.json
  src/index.ts
  src/shared/db.mock.ts
  src/shared/db.ts
  src/shared/pkce.test.ts
  src/shared/pkce.ts
  src/shared/presets.test.ts
  src/shared/storage.test.ts
  src/shared/storage.ts
  src/shared/utils.test.ts
  src/utils/index.ts
  src/utils/login.test.ts
  src/utils/login.ts
  src/utils/operations.test.ts
  src/utils/operations.ts
  src/utils/postMessage.test.ts
  src/utils/postMessage.ts
  src/utils/register.ts
  src/vendor/idb-keyval.ts
  src/worker/fetch.test.ts
  src/worker/fetch.ts
  src/worker/interceptor.test.ts
  src/worker/interceptor.ts
  src/worker/operations.test.ts
  src/worker/operations.ts
  src/worker/postMesage.ts
  src/worker/postMessage.test.ts
  src/worker/service-worker.ts
  src/worker/state.test.ts
  src/worker/state.ts
  src/worker/utils.test.ts
  test/setup.ts
Due: prettier --write, eslint

Fix linter issues
  .eslintignore
  .eslintrc.js
  example/src/App.tsx
  package.json
  src/utils/register.test.ts
  src/worker/fetch.test.ts
  src/worker/interceptor.test.ts
  src/worker/operations.test.ts
  src/worker/utils.test.ts
Due: prettier --write, eslint

Ping the SW to keep it alive
  src/utils/postMessage.ts
  src/utils/register.ts
  src/worker/postMesage.ts
Due: prettier --write, eslint

Disable the SW unregister
  example/public/service-worker.d.ts
  src/interfaces/IWorkerSettins.ts
  src/utils/register.ts
Due: prettier --write, eslint

Decrease the ping timer to 5s
  src/utils/register.ts
Due: prettier --write, eslint

Bugfixes
  src/shared/utils.ts
  src/worker/interceptor.ts
Due: prettier --write, eslint

Fix for mismatched createSession signature
  src/worker/interceptor.ts
Due: prettier --write, eslint

Use url instead of location
  src/worker/interceptor.ts
Due: prettier --write, eslint

Fix tests
  src/utils/register.test.ts
  src/worker/fetch.test.ts
  src/worker/interceptor.test.ts
  src/worker/operations.test.ts
Due: prettier --write, eslint

Bump version to 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write
